<ion-content [fullscreen]="true">

  <ion-tabs>
    <ion-tab tab="home">
      <div id="home-page">
        <ion-header>
          <ion-toolbar>
            <ion-grid>
              <ion-row class="ion-justify-content-between">
                <ion-col size="6">
                  <ion-title>
                    <ion-chip>
                      <ion-avatar>
                        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
                      </ion-avatar>
                      <ion-label>Hello, {{ user?.displayName }}!</ion-label>
                    </ion-chip>
                  </ion-title>
                </ion-col>

                <ion-col>
                  <ion-icon name="help-circle"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
            
          </ion-toolbar>
        </ion-header>
        <ion-content [fullscreen]="true">

          
          <ion-card>

            <div class="credit-card">
              <ion-grid class="noMargin">
                <ion-row>
                  <ion-col size="12" class="spaces">
                    <div><ion-img src="assets/veece-nobg.png" style="width: 40px; height: 40px;" /> </div>
                    <div>$3.00</div>
                  </ion-col>
                </ion-row>
              </ion-grid>
        
              <ion-grid class="noMargin">
                <ion-row>
                  <ion-col size="12" class="spaces">
                    <div class="card-number">1234 5678 9012 3456</div>
                    <div class="chip"></div>
                  </ion-col>
                </ion-row>
              </ion-grid>

              <ion-grid class="noMargin">
                <ion-row size="12" class="spaces">
                  <div class="card-holder">
                    <strong>Aniekan Essiet</strong>
                  </div>
                  <div><ion-img src="assets/mastercard-nobg.png" style="width: 40px; height: 40px;" /> </div>
                </ion-row>
              </ion-grid>
                
            </div>
          </ion-card>

         <ion-grid>
            <ion-row class="evenly">
              <ion-col size="4" style="justify-content: center; text-align: center;">
                <div><ion-icon name="wallet-outline" size="large" color="success"></ion-icon></div>
                <div><span>Fund</span></div>
              </ion-col>

              <ion-col size="4" style="justify-content: center; text-align: center;">
                <div><ion-icon name="log-out-outline" size="large" color="primary"></ion-icon></div>
                <div><span>Withdraw</span></div>
              </ion-col>

              <ion-col size="4" style="justify-content: center; text-align: center;">
                <div><ion-icon name="ellipsis-horizontal-outline" size="large" color="tertiary"></ion-icon></div>
                <div><span>More</span></div>
              </ion-col>

            </ion-row>
         </ion-grid>    

          <div>
            <ion-item>
              <ion-label>
                <h2><strong>Card Details</strong></h2>
              </ion-label>
            </ion-item>
          </div>

          <div>
            <ion-item>
              <ion-label>
                <h3>Card Holder Name</h3>
                <p>Aniekan Essiet</p>
              </ion-label>
              <ion-icon name="copy-outline" slot="end"></ion-icon>
            </ion-item>
          </div>

          <div>
            <ion-item>
              <ion-label>
                <h3>Card Number</h3>
                <p>1234567890123456</p>
              </ion-label>
              <ion-icon name="copy-outline" slot="end"></ion-icon>
            </ion-item>
          </div>

          <div>
            <ion-grid class="nopd">
              <ion-row>
                <ion-col class="nopd">
                  <ion-item>
                    <ion-label>
                      <h3>Expiry</h3>
                      <p>03/29</p>
                    </ion-label>
                    <ion-icon name="copy-outline" slot="end"></ion-icon>
                  </ion-item>
                </ion-col>

                <ion-col class="nopd">
                  <ion-item>
                    <ion-label>
                      <h3>CVV</h3>
                      <p>746</p>
                    </ion-label>
                    <ion-icon name="copy-outline" slot="end"></ion-icon>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>


          <div>
            <ion-item>
              <ion-label>
                <h3>Card Address</h3>
                <p>256 Chapman Road STE 105-4</p>
              </ion-label>
              <ion-icon name="copy-outline" slot="end"></ion-icon>
            </ion-item>
          </div>

          

        </ion-content>
      </div>
    </ion-tab>


    <ion-tab tab="top-up">
      <div id="radio-page">
        <ion-header>
          <ion-toolbar>
            <ion-title>Recent Transactions</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content [fullscreen]="true">
          <div>
            <ion-item>
              <ion-label>
                <h3>GOOGLE*GUK 802052</h3>
                <p>Mar 28, 2025</p>
              </ion-label>
              <ion-icon name="remove-circle-outline" slot="start" size="large" color="danger"></ion-icon>
              <ion-note slot="end">$1.95</ion-note>
            </ion-item>
          </div>

          <div>
            <ion-item>
              <ion-label>
                <h3>Railway</h3>
                <p>Mar 27, 2025</p>
              </ion-label>
              <ion-icon name="remove-circle-outline" slot="start" size="large" color="danger"></ion-icon>
              <ion-note slot="end">$5.00</ion-note>
            </ion-item>
          </div>

          <div>
            <ion-item>
              <ion-label>
                <h3>Funding</h3>
                <p>Mar 27, 2025</p>
              </ion-label>
              <ion-icon name="add-circle-outline" slot="start" size="large" color="success"></ion-icon>
              <ion-note slot="end">$10.00</ion-note>
            </ion-item>
          </div>
        </ion-content>
      </div>
    </ion-tab>


    <ion-tab tab="transactions">
      <div id="library-page">
        <ion-header>
          <ion-toolbar>
            <ion-title>E-SIm</ion-title>
          </ion-toolbar>
        </ion-header>

        <ion-content [fullscreen]="true">
          <ion-segment>
            
            <ion-segment-button value="first" content-id="first">
              <ion-label>Active</ion-label>
            </ion-segment-button>
            <ion-segment-button value="second" content-id="second">
              <ion-label>Archive</ion-label>
            </ion-segment-button>
          </ion-segment>

          <ion-segment-view>

            <ion-segment-content id="first">
              <div>
                <ion-item>
                  <ion-avatar aria-hidden="true" slot="start">
                    <img alt="" src="assets/usa.png" />
                  </ion-avatar>
                  <ion-label>
                    <h3>+1929 238 0208</h3>
                    <p>Next charge on 29 April, 2025</p>
                  </ion-label>
                  <ion-icon name="chatbubbles-outline" slot="end" size="large"></ion-icon>
                </ion-item>
              </div>
              
            </ion-segment-content>
            <ion-segment-content id="second">
              <div>
                <ion-item>
                  <ion-avatar aria-hidden="true" slot="start">
                    <img alt="" src="assets/canada.png" />
                  </ion-avatar>
                  <ion-label>
                    <h3>+1867 322 6294</h3>
                    <p>01.03.2025 - 07.04.2025</p>
                  </ion-label>
                  <ion-icon name="chatbubbles-outline" slot="end" size="large"></ion-icon>
                </ion-item>
              </div>

              <div>
                <ion-item>
                  <ion-avatar aria-hidden="true" slot="start">
                    <img alt="" src="assets/usa.png" />
                  </ion-avatar>
                  <ion-label>
                    <h3>+1925 269 9040</h3>
                    <p>01.03.2025 - 07.04.2025</p>
                  </ion-label>
                  <ion-icon name="chatbubbles-outline" slot="end" size="large"></ion-icon>
                </ion-item>
              </div>

              <div>
                <ion-item>
                  <ion-avatar aria-hidden="true" slot="start">
                    <img alt="" src="assets/canada.png" />
                  </ion-avatar>
                  <ion-label>
                    <h3>+1418 476 8570</h3>
                    <p>01.03.2025 - 07.04.2025</p>
                  </ion-label>
                  <ion-icon name="chatbubbles-outline" slot="end" size="large"></ion-icon>
                </ion-item>
              </div>

            </ion-segment-content>
          </ion-segment-view>

          <ion-footer class="ion-no-border">
            <ion-toolbar>
              <ion-button expand="block">
                <ion-icon slot="start" name="add-outline"></ion-icon>
                  Buy a new number
              </ion-button>
            </ion-toolbar>
          </ion-footer>

        </ion-content>
        
        
      </div>
    </ion-tab>


    <ion-tab tab="profile">
      <div id="search-page">
        <ion-header>
          <ion-toolbar>
            <ion-title>Profile</ion-title>
          </ion-toolbar>
        </ion-header>

        <ion-content [fullscreen]="true">

          <div>
            <ion-item>
              <ion-label>
                <h3>Name</h3>
                <p>Aniekan Abasido Essiet</p>
              </ion-label>
            </ion-item>
          </div>

          <div>
            <ion-item>
              <ion-label>
                <h3>Email</h3>
                <p>essiet.aniekan&#64;yahoo.com</p>
              </ion-label>
            </ion-item>
          </div>

          <div>
            <ion-item>
              <ion-label>
                <h3>Language</h3>
                <p>English</p>
              </ion-label>
            </ion-item>
          </div>

          <div>
            <ion-item>
              <ion-label>
                <h3>Date of Birth</h3>
                <p>31 March 2001</p>
              </ion-label>
            </ion-item>
          </div>

          <div>
            <ion-item>
              <ion-label>
                <ion-button 
                  [routerLink] = "['/verify']"
                  fill="clear"
                  class="ion-no-margin color-set">
                    <h3><strong>Verify Account</strong></h3>
                </ion-button>
              </ion-label>
            </ion-item>
          </div>

          <div>
            <ion-item>
              <ion-label>
                <h3><strong>Close Account</strong></h3>
              </ion-label>
            </ion-item>
          </div>

        </ion-content>

      </div>
    </ion-tab>
  
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="card"></ion-icon>
        My Cards
      </ion-tab-button>
      <ion-tab-button tab="top-up">
        <ion-icon name="play-back-outline"></ion-icon>
        History
      </ion-tab-button>
      <ion-tab-button tab="transactions">
        <ion-icon name="globe-outline"></ion-icon>
        E-Sim
      </ion-tab-button>
      <ion-tab-button tab="profile">
        <ion-icon name="person-outline"></ion-icon>
        Profile
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>