#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-card {
  --color: #9efff0;
  //--border-radius: 60px
  border-radius: 20px
}

ion-card-title {
  --color: #52ffe4;
}

ion-card-subtitle {
  --color: #d1fff8;
}

#income p {
  margin-top: 0px;
  margin-bottom: 10px;
}

#trx p {
  margin-top: 3px;
  margin-bottom: 10px;
}

.credit-card {
  background-color: green; /* White background for testing */
  color: #fff; /* Black text for contrast */
  border: 1px solid red;
  border-radius: 8px;
  padding: 16px;
  width: 100%;
  height: 200px;
  /*margin: 20px auto; /* Center horizontally */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}


.card-header,
.spaces {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chip {
  width: 40px;
  height: 20px;
  background: gold;
  border-radius: 4px;
}

.logo {
  font-size: 18px;
  font-weight: bold;
}

.card-number {
  font-size: 20px;
  letter-spacing: 1px;
}

.card-details {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.card-holder,
.expiry-date {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

.noMargin {
  margin-inline: 0;
}

.evenly {
  display: flex;
  justify-content: space-evenly;
}

.card-details {
  text-decoration: underline;
  padding-left: 10%;
}

.nopd {
  padding: 0 0 0 0;
}

ion-note {
  font-size: large;
}

ion-segment-view {
  height: 550px;
}
