<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="8">
          <a [routerLink]="['/menu']" style="color: #fff; text-decoration: none;">Personal</a>
          </ion-col>
        <ion-col>
          <ion-icon name="notifications-outline"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-icon name="help-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blankss</ion-title>
      
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-title>Welcome {{user?.displayName}}</ion-title>
    
  </div>
</ion-content>
