<ion-content [fullscreen]="true">

  <ion-fab slot="fixed" vertical="top" horizontal="start">
    <ion-fab-button size="small" [routerLink]="['/home']">
      <ion-icon name="chevron-back"></ion-icon>      
    </ion-fab-button>
  </ion-fab>

  <div class="nav-img-box">
    <ion-img src="assets/verify.svg" style="width: 100%; height: 170px;" /> <!--Insert an image-->
    <!--Title of the app (Like a text)--> 
  </div>

  <div class="header">
    <ion-title class="title">KYC Verification</ion-title>
    <p class="subTitle">To ensure the security of your account and comply with regulatory requirements, we need to verify your identity. <b>You will be done in 5min</b></p>
  </div>

  <div class="verify-buttons">
    <ion-button expand="full" [routerLink]="['/verify-info']" >Start verification</ion-button> 
    <ion-button expand="full" fill="clear" class="skip" [routerLink]="['/home']">Skip for later</ion-button>
  </div>
  
</ion-content>
