<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-icon name="help-outline"></ion-icon>
          </ion-thumbnail>
          <ion-label>
            <a [routerLink]="['/delete-acc']" style="color: #fff; text-decoration: none;">Delete account</a>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
