.nav-img-box {
    text-align: center;
    margin-top: 25%;
}

.onboardingNav-next {
    background-color: #00448D;
    width: 101px;
    height: 48px;
}

.onboardingNav {
    width: 101px;
    height: 48px;
}

.button-box {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10%;
}

.scrollBox {
    display: flex;
    justify-content: center;
    margin-top: 30%;
}