.info-header {
    margin-top: 25%;
}

.info-form {
    margin-top: 5%;
}

.ion-text-end {
    font-size: small;
    color: gainsboro;
}

.kyc-header {
    font-size: large;
    font-weight: 600;
}

.pt-down {
    padding-top: 10%;
}

.verify-buttons {
    margin-top: 20%;
}