<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="title">Register </ion-title>
    <p class="subTitle">Sign up to create your account</p>
  </div>

  <form>
    <div class="ion-padding">

      <ion-item>
        <ion-input 
          placeholder="Full Name" 
          class="input"
          type="text"
          [(ngModel)]="account.Username"
          [ngModelOptions]="{standalone: true}">
        </ion-input>
        <ion-icon name="person-outline" slot="start"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-input 
          placeholder="user@email.com" 
          class="input"
          type="email"
          [(ngModel)]="account.Email"
          [ngModelOptions]="{standalone: true}">
        </ion-input>
        <ion-icon name="mail-outline" slot="start"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-input 
          placeholder="Password" 
          class="input"
          type="password"
          [(ngModel)]="account.Password"
          [ngModelOptions]="{standalone: true}">
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      </ion-item>


      <div class="fullheight xc">
        <ion-button 
          shape="round"
          color="warning"
          style="width: 80%; height: 80%;"
          [routerLink]="['/login']">
          Sign Up
        </ion-button>
      </div>

      

      


      <div class="loginLink">
        <p> Already have an account? <a style="color: #FFC33F;" [routerLink]="['/login']">Login now</a></p>
      </div>
    </div>

    <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 30px;">
      <ion-fab-button (click)="signUp()">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>
  
</ion-content>
